.container {
  background-color: var(--background-dark);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: var(--text-white-color);
  padding: 40px;
  width: 40%;
  @media (max-width: 768px) {
    width: 70%;
  }
  .button {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    align-items: center;
  }
  .input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    margin: 40px 0;
  }
  .text {
    margin: 0;
    color: var(--text-white-color);
  }
}

p {
  text-align: center;
}
link {
  text-decoration: none;
  color: var(--primary-color);
}
