.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 180px;
  background-color: var(--background-light-dark);
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--text-white-color);

  > svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}
