@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #7b61ff;
  --primary2-color: #917cff;
  --secondary-color: #80858b;
  --contextual-error: #ff5154;
  --contextual-light: #afb2b6;
  --contextual-white: #ffffff;
  --background-dark: #000000;
  --background-medium-dark: #242426;
  --background-light-dark: #323537;
  --tertiary-green: #00a340;
  --tertiary-yellow: #f3a608;
  --tertiary-orange: #f45d2d;

  --text-color: var(--background-light-dark);
  --text-white-color: var(--contextual-white);
  --text-light-color: var(--contextual-light);
}

body {
  background-color: var(--background-dark);
  font-family: 'Exo 2';
  color: var(--secondary-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: var(--background-light-dark);
}

h2 {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--background-light-dark);
}
