.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background-dark);
  color: var(--contextual-white);
  padding-bottom: 64px;
  gap: 10px;
  @media (max-width: 768px) {
    position: relative;
    gap: 15px;
  }
  @media (max-width: 520px) {
    flex-wrap: wrap;
  }

  .logo {
    flex: 1 1 20%;
  }

  & .burger {
    display: none;
    position: relative;

    @media (max-width: 768px) {
      display: flex;
      width: 40px;
      height: 40px;
    }
  }

  .menu {
    color: var(--contextual-white);
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50%;
    display: none;
    border: 3px solid var(--background-light-dark);
    border-radius: 10px;
    z-index: 1;
    width: 150px;
    background-color: var(--background-dark);
    transform: translateX(125%);
    transition: transform 300ms ease-in-out;
    &[data-open='true'] {
      transform: translateX(0%);
    }
    @media (max-width: 768px) {
      display: flex;
    }
    @media (max-width: 520px) {
      top: 60%;
    }
  }
  a {
    color: var(--contextual-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    &:hover,
    &:active {
      color: var(--primary2-color);
    }
  }
}
